body{
    font-family: Arial, Helvetica, sans-serif
}

.page-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: aqua; 
}

.header{
    background-image: url("/img/header.png");
    background-repeat: no-repeat;
    /*height: 200px;*/
}
.header h1{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
}

#game  {
    width: 200px;
}

#game table  td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.activePanel {
    display:   block;
}

.inactivePanel {
    display:  none;
}

.naught{
    background-image: url('/img/naught.png')
}

.cross {
    background-image: url('/img/cross.png')
}

